[submodule "include/cryptopp"]
	path = include/cryptopp
	url = http://github.com/weidai11/cryptopp.git
[submodule "include/websocketpp"]
	path = include/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
